h2 {
    font-family: fantasy;
    color: darkgray;
    font-size: 36px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

h2 {
    color: blueviolet;
}

.fundo-verde {
    background: #0f0;
}